registry=https://registry.npmjs.org/
fetch-retry-maxtimeout=600000
fetch-retries=5
always-auth=true
@frontend-team:registry=https://gitlab.ikameglobal.com/api/v4/groups/2031/-/packages/npm/
//gitlab.ikameglobal.com/api/v4/groups/2031/-/packages/npm/:_authToken=ikame--WpwUTu_astZjCk4pq_i
//gitlab.ikameglobal.com/api/v4/projects/1311/packages/npm/:_authToken=ikame--WpwUTu_astZjCk4pq_i
//gitlab.ikameglobal.com/api/v4/projects/1351/packages/npm/:_authToken=ikame--WpwUTu_astZjCk4pq_i